/* стили страници портфолио*/
/*.underlining-portfolio::after {
  content: '';

  position: absolute;
  left: 0px;
  bottom: 0px;

  display: block;
  width: 100%;
  height: 4px;

  background: var(--secondary-txt-cl);
  border-radius: 2px;
}*/
/*кнопки фильтр раздел работ
.work-wrapper {
  display: flex;
  align-items: center;
}*/
