//основные шрифты
$main-font: 'Roboto', 'sans-serif';
$logo-font: 'Raleway', 'sans-serif';
//светлая тема текста
$accent-txt-cl: #ffffff;
$primary-txt-cl: #757575;
$footer-txt-cl: rgba(255, 255, 255, 0.6);
